/*
* Main Navigation
*/
/

body {
    padding-left: 20px;
    font-family: Raleway;
    font-size: 17px;
}

#nav {
    background-color: whitesmoke;
    opacity: 50%;
    position:fixed;
    left:0;
    right:0;
    z-index: 2
}
#nav_wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    min-width: 200px;
}
#nav ul li {
    display: inline-block;
    font-family: Raleway;
/*    font-weight: bold*/
    font-size: 25px;
    font-weight: 700
}
#nav ul a {
/*    background-color: red;*/
}
#nav ul li:hover {
    background-color: navajowhite;
}
#nav ul li a, visited {
    color: dimgray;
    display: block;
    padding: 15px;
    text-decoration: none;
}
#nav ul li:hover ul {
    display: block;
}
#nav ul ul {
    display: none;
    position: absolute;
    background-color: #333;
    margin-left: -5px;
}
#nav ul ul li {
    display: block;
}
#nav ul ul li a:hover {
    color: #699;
}

/*
#navbar li a:hover {
    color: #FFFFFF;
    background-color: #35af3b;
}
*/

.post{
    padding-left: 50px;
    padding-bottom: 30px;
    
}

.container-fluid {
    font-family: Raleway;
    font-size: 14px;

}
/* Fix!! Instance-by-instance naming of styling sheets */
.container-product {
    padding-left: 50px;
    font-family: Raleway;
    font-size: 14px;
}

.product-wrap {
    padding-left: 15px;
}

.review-detail{
    margin-top: 50px;
    font-family: Raleway;
    font-size: 14px;

}

.home_container {
/*    margin-top: -20px;*/
    padding-top: 10%;
    margin-top: 40px;
    margin-bottom: -60px;
    height: auto;
    min-height: 500px;
    width: 100%;
    background-image: url(image/home_background.JPG);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.wrap{
    background: #aaa;
    margin: 0 auto;
    display: inline-block;
    overflow: hidden;
    
}
.home_banner{
/*    background-color: #3599e7;*/
/*    opacity: 0.6;*/
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
/*    display: inline-block;*/
    text-align: center;
/*    padding: 10, 10, 10, 10;*/
    height: auto;
    width: auto;
}
.home_text h2{
    color:#ffffff;
    font-size: 50pt;
    text-align: center;
}
.home_text h1{
/*    color: #f0533e;*/
    color: #fbb325;
    text-align: center;
}

li a {
    color: green;
}

h1 a {
    color: indianred;
    font-family: 'Raleway';
}

.plantbg {
    width: 100%;
    height: 500px;
    float: right;
    color: #ffffff;
    text-align: center;
    padding-top: 50px;
    text-shadow: 1px 1px black;
    background-image: url(image/plantpaintbg.png);
    background-size: cover;
    margin-bottom: 50px;
     
}

.about-attributes {
    font-size: 16pt;
    text-align: center;
/*    background-color: red;*/
}

.about-images {
    padding-top: 20px;
}

.product-list-image{
    width:100%;
}
.carousel-inner{
  width:100%;
    height: 50%;
  max-height: 200px !important;
}

.carousel slide{
  width:100%;
  max-height: 200px !important;
}

.contact-attributes {
    text-align: center;
}
.video-attributes{
    text-align: center;
    
}
.jumbotron {
/*    margin-top: -20px;*/
/*    margin-bottom: -100px*/
/*    padding-top: 20px;*/
/*    padding-bottom: 25px;*/
/*    background-color: #fbb325;*/
/*    text-shadow: 1px 1px black;*/
/*    text-shadow: 1px, 1px, black;*/
    margin-top: -20px;
    margin-bottom: -60px;
    color: black;
}

.page-header {
    margin-top: 60px;
    text-align: center;
    background-color: #0066cc;
    height: auto;
    padding: 20px 20px 20px 20px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 30pt;
    text-decoration: none;
}

.page-header h3, .page-header h3 a, .page-header h3 a:visited, .page-header h3 a:active {
    color: #ffffff;
    font-size: 20pt;
    
    text-decoration: none;
}

.content {
/*    margin-top: 40px;*/
}

h1, h2, h3, h4 {
    font-family: 'Raleway';
}

hr { /* CSS Styling for a single line page divider */
   display: block;
   position: relative;
   padding: 0;
   margin: 8px auto;
   height: 0;
   width: 60%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    background-color: #efefef;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}

.bs-callout-blog {
    border-left-color: #5cb85c;
    margin-left: 20px;
    margin-right: 20px;
}

.bs-callout-success h1, .bs-callout-success h2, .bs-callout-success h3, .bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}


/*
 * Footer
 */
.uc-footer {
  border-top: 1px solid #e5e5e5;
  padding-bottom: 30px;
  padding-top: 20px;
  margin-top: 100px;
  text-align: center;
}
.footer-links {
  margin: 10px;
  padding-left: 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

@media (min-width:768px) {
  .uc-footer {
    text-align: left;
  }
  .uc-footer p {
    margin-bottom: 0;
  }
}

/*
 * Social buttons
 */
.uc-social {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}
.uc-social-buttons {
  display: inline-block;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.uc-social-buttons li {
  display: inline-block;
  line-height: 1;
  padding: 5px 8px;
}
.github-btn {
  border: 0;
  overflow: hidden;
}
.uc-social-buttons .twitter-follow-button {
  width: 225px !important;
}

@media (min-width: 768px) {
  .uc-social {
    text-align: left;
  }
  .uc-social-buttons li:first-child {
    padding-left: 0;
  }
}


