
{% extends 'reviews/base.html' %}
{% load static%}
{% block title %}{% endblock %}

{% block content %}

<div class="page-header">
      <h3>Our Mission</h3>
    </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <p class="lead">Parent volunteers are critical
                <h4>Family obligation</h4>
                <p>The volunteer requirement per family is 5 obligations. This does not include jobs for Time Trials, Divisionals, or SSL.
                    <p>
        </div>
        <div class="col-md-3">
<!--
      <div class="sidebar">
        <ul class="list-group">
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Volunteer Sign-ups</h4>
            <p class="list-group-item-text">We are using SignUp Genius to coordinate our volunteer efforts. If your family is using multiple emails to register for jobs, you must let our volunteer coordinator know.
            <p class="list-group-item-text"><a class="btn btn-large btn-primary" href="mailto:laurenmannella@yahoo.com?subject=SignUpGenius">Request an invite <span class="glyphicon glyphicon-envelope"></span></a>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Quick Links</h4>
            <p class="list-group-item-text">
            <ul>
              <li><a href="//www.signupgenius.com/go/10c0d4daba62b0-ameet1" target="_blank">A Meets</a>
              <li><a href="//www.signupgenius.com/go/10c0d4daba62b0-bmeet" target="_blank">B Meets</a>
              <li><a href="//www.signupgenius.com/go/10c0d4daba62b0-time6" target="_blank">Time Trials</a>
              <li><a href="//www.signupgenius.com/go/10c0d4daba62b0-social4" target="_blank">Social Events</a>
            </ul>
        </ul>
      </div> /.sidebar 
-->
        </div><!-- /.col-md-3 -->
  </div><!-- /.row -->
<div class="row">
    <div class="page-header">
      <h3>Farmer Wang</h3>
    </div>
</div>

    <div class="row">
        <div class="col-md-9">
            <p class="lead">He is the man
                <h4>Dedicated to Holistic Farming</h4>
                <p>Part of the earth.
                    <p>
        </div>
        <div class="col-md-3">
            <a href="#" class="thumbnail">
      <img src="{% static 'reviews/image/farmer_wang.jpg' %}" alt="...">
    </a>

        </div><!-- /.col-md-3 -->
  </div><!-- /.row -->
</div><!-- /.container -->





{% endblock %}
