
{% extends 'reviews/base.html' %}

{% load static %}
{% block title %}

{% endblock %}

{% block content %}

<div class="page-header">
      <h3>Home</h3>
    </div>

<div class="container-fluid">
    
{% if announcement_list %}
    {% for announcement in announcement_list %}
    <div class="row">
        <div class="col-md-9">
        <div class="bs-callout bs-callout-success">

            <h2>{{ announcement.title }}</h2>
            <p>{{ announcement.content }}</p>
            <h5>{{ announcement.pub_date }}</h5>

        </div>
        </div>
        {% if announcement.image1 %}
            <div class="col-md-3">
        <a href="#" class="thumbnail">
        <img src='{{ announcement.image1.url }}' class='img-responsive' /></a>
            </div>
        {% endif %}
        {% if announcement.image2 %}
            <div class="col-md-3">
        <a href="#" class="thumbnail">
        <img src='{{ announcement.image2.url }}' class='img-responsive' /></a>
            </div>
        {% endif %}
        {% if announcement.image3 %}
            <div class="col-md-3">
        <a href="#" class="thumbnail">
        <img src='{{ announcement.image3.url }}' class='img-responsive' /></a>
            </div>
        {% endif %}
    </div>
    {% endfor %}
    

    
{% endif %}

    
    
</div>

{% endblock %}