
{% extends 'reviews/base.html' %}
{% load staticfiles %}

{% block title %}
<!--<h2>Why Organic??</h2>-->
{% endblock %}

{% block content %}
<body>
    <div class="page-header">

        <h3>We choose organic. Do you?</h3>

    </div>

    <div class="post">

        <div class="row">
            <div class="col-md-4">
                <blockquote class="blockquote">
                    <p class="m-b-0">If everybody switched to organic farming, we couldn't support the earth's current population - maybe half.</p>
                    <footer class="blockquote-footer">Nina Federoff <cite title="Source Title">Lifehack</cite></footer>
                </blockquote>
            </div>
            <div class="col-md-4">
                <blockquote class="blockquote">
                    <p class="m-b-0">Every time you buy organic you're persuading more farmers to grow organic.</p>
                    <footer class="blockquote-footer">Mother Earth News</footer>
                </blockquote>
            </div>
            <div class="col-md-4">
                <blockquote class="blockquote">
                    <p class="m-b-0">Take care of your body. It's the only place you have to live in. Eat organic.</p>
                    <footer class="blockquote-footer">humanresourcesblog</footer>
                </blockquote>
            </div>
        </div>
        

<h3> Reverence </h3>
    <p>
To hold with deep respect & wonder. To be reverent of our food source is the first step to understanding just how precious life really is. Especially with meditating on the life-capacity of a seed, or the process of photosynthesis, or how the life-sustaining-capacity can pass from life to death, in order to give life to another.</p>
<h3> Stewardship </h3>
        
<p>
To care for creation as it was designed to function; to feed, nourish, and engage. As we spend time farming, we more intimately gain insight into the vast complexities, connectedness, and order of the creation were a part of. It is something intimate, tangible, nourishing, and it brings us to a humble joy for having the chance to know it in such a way.</p>

<h3> Craft </h3>
        <p>
 Since farming has been an occupation from the dawn of civilization,
and methods of foraging & hunting pre-date farming, many of the principles
are timeless, and as such, the craft of farming has developed into a rich, meaningful work-rhythm upon which society & culture are built within the "wild" ecosystem around us. We strive to better equip ourselves as students of the craft to help create value for the people, families, and community near us.</p>


        <h2>Checkout:</h2>

        <h4><a href="http://www.helpguide.org/articles/healthy-eating/organic-foods.htm" target="_blank">An Overview of Organic Foods from Helpguide.org</a></h4>
        <h4><a href="http://www.nytimes.com/topic/subject/organic-foods-and-products" target="_blank">The New York Times's Articles on Organic Products</a></h4>
        <h4><a href="http://www.naturalnews.com/organic_food.html" target="_blank">Latest News on Organic Farming</a></h4>
        

    </div>
    <div class="plantbg">

        <h1>Love the stuff that you eat!</h1>

    </div>

</body>
{% endblock %}



