
{% extends 'reviews/base.html' %}

{% block title %}

{% endblock %}

{% block content %}
<div class="page-header">
      <h3>Reviews</h3>
    </div>

<div class="container-fluid">
{% if wine_list %}
<div class="row">
    {% for wine in wine_list %}
    <div class="col-md-3">
        {% if wine.image %}
        <img src='{{ wine.image.url }}' class='img-responsive' />
        {% endif %}
        <h4><a href="{% url 'reviews:wine_detail' wine.id %}">
        {{ wine.name }}
        </a></h4>
        <h5>{{ wine.review_set.count }} reviews</h5>
        <h5>{{ wine.average_rating | floatformat}} average rating</h5>
    </div>
    {% endfor %}
    
</div>
{% else %}
    <p>No wines are available.</p>
{% endif %}
</div>
{% endblock %}