
{% extends 'web/base.html' %}
{% load static%}
{% block title %}{% endblock %}

{% block content %}

<div class="page-header">
      <h3>Our Mission</h3>
    </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <p class="lead">We believe in holistic farming. Over the years, with the advancement of civilization, our food has completely changed from the food of our ancestors. Our goal is to return to the past, to the traditional agricultural methods around for centuries.

                <p>If you’re looking for Grass-Fed & Grass-Finished, Pasture-Raised, Free-Range & Cage-Free, Humanely-Raised, All Natural, non-GMO, Not Fed Antibiotics or Animal By-Products, Organic (non-certified), we’re your farm. </p>
                <div class="bs-callout bs-callout-primary">
                    <h4>Animals</h4> Animals at Green Acres Farm roam freely within their open and spacious pens. They eat 100% natural feed free of hormones and chemicals. You can taste the difference.
                </div>
                <div class="bs-callout bs-callout-success">
                    <div id="about">
                        <h4>Plants</h4> We use absolutely no pesticides on our plants. Doing so reduces our harvest but any other way of farming is not natural. High quality food comes at a cost. We use crop rotation as a natural method of increasing yield.
                    </div>
                </div>

                <div class="jumbotron">
                    <h1>Interested?</h1>
                    <p>Check out our list of products! </p>
                    <p><a class="btn btn-primary btn-lg" href="{% url 'web:product_list' %}" role="button">Learn more</a></p>
                </div>

        </div>
        <div class="col-md-3">
            
            <a href="#" class="thumbnail">
                <img src="{% static 'web/image/carrots_original_main.jpg' %}" alt="..."></a>
            <a href="#" class="thumbnail">
                <img src="{% static 'web/image/about_field.jpg' %}" alt="..."></a>

        </div>
        <!-- /.col-md-3 -->
    </div>
    <!-- /.row -->


    
<div class="row">
    <div class="page-header">
      <h3>Farmer Wang</h3>
    </div>
</div>

    <div class="row">
        <div class="col-md-9">
            <p class="lead">Victor Wang (Wang Yong Li), an alumnus of Beijing University, quit his IT professional job to start this agricultural venture.
<!--                <h4>Dedicated to Holistic Farming</h4>-->
                <p>A firm believer in the benefits of holistic organic farming, Victor aims to supply his local community with quality, nutritious food at affordable prices. 
                    <p>
        </div>
        <div class="col-md-3">
            <a href="#" class="thumbnail">
      <img src="{% static 'web/image/farmer_wang.jpg' %}" alt="...">
    </a>

        </div><!-- /.col-md-3 -->
  </div><!-- /.row -->
</div><!-- /.container -->





{% endblock %}

<!--
      <div class="sidebar">
        <ul class="list-group">
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Volunteer Sign-ups</h4>
            <p class="list-group-item-text">We are using SignUp Genius to coordinate our volunteer efforts. If your family is using multiple emails to register for jobs, you must let our volunteer coordinator know.
            <p class="list-group-item-text"><a class="btn btn-large btn-primary" href="mailto:laurenmannella@yahoo.com?subject=SignUpGenius">Request an invite <span class="glyphicon glyphicon-envelope"></span></a>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Quick Links</h4>
            <p class="list-group-item-text">
            <ul>
              <li><a href="//www.signupgenius.com/go/10c0d4daba62b0-ameet1" target="_blank">A Meets</a>
              <li><a href="//www.signupgenius.com/go/10c0d4daba62b0-bmeet" target="_blank">B Meets</a>
              <li><a href="//www.signupgenius.com/go/10c0d4daba62b0-time6" target="_blank">Time Trials</a>
              <li><a href="//www.signupgenius.com/go/10c0d4daba62b0-social4" target="_blank">Social Events</a>
            </ul>
        </ul>
      </div> /.sidebar 
-->