/*
* Main Navigation
*/
/

body {
    
    font-family: Raleway;
    font-size: 17px;
}

#nav {
    background-color: whitesmoke;
    opacity: 50%;
    position:fixed;
    left:0;
    right:0;
    z-index: 2
}
#nav_wrapper {
    width: 1500px;
    margin: 0 auto;
    text-align: left;
}
#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    min-width: 200px;
}
#nav ul li {
    display: inline-block;
    font-family: Raleway;
    font-size: 14px;
    
}
#nav ul li:hover {
    background-color: navajowhite;
}
#nav ul li a, visited {
    color: dimgray;
    display: block;
    padding: 15px;
    text-decoration: none;
}
#nav ul li:hover ul {
    display: block;
}
#nav ul ul {
    display: none;
    position: absolute;
    background-color: #333;
    margin-left: -5px;
}
#nav ul ul li {
    display: block;
}
#nav ul ul li a:hover {
    color: #699;
}

/*
#navbar li a:hover {
    color: #FFFFFF;
    background-color: #35af3b;
}
*/

.post{
    padding-left: 50px;
    padding-bottom: 50px;
/*    align-content: center;*/
    
}

.container-fluid {
    padding-top: 20px;
    border: 5px;
    margin-left: 0px;
    font-family: Raleway;
    font-size: 14px;
/*    float: left;*/
}



.spacer
{
    width: 100%;
    height: 95px;
}

li a {
    color: green;
}

h1 a {
    color: indianred;
    font-family: 'Raleway';
}

.plantbg {
    width: 100%;
    height: 500px;
    float: right;
    color: #ffffff;
    text-align: center;
    padding-top: 50px;
    text-shadow: 1px 1px black;
    background-image: url(image/plantpaintbg.png);
    background-size: cover;
     
}


.page-header {
    background-color: #0066cc;
    margin-top: 40px;
    height: auto;
    padding: 20px 20px 20px 20px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    
    text-decoration: none;
}

.page-header h3, .page-header h3 a, .page-header h3 a:visited, .page-header h3 a:active {
    color: #ffffff;
    font-size: 20pt;
    
    text-decoration: none;
}

.content {
    margin-top: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Raleway';
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}


