
{% extends 'web/base.html' %}
{% load static%}
{% block title %}{% endblock %}

{% block content %}

<div class="page-header">
      <h3>Our Mission</h3>
    </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <p class="lead">We believe in holistic farming. Over the years, with the advancement of civilization, our food has completely changed from the food of our ancestors. Our goal is to return to the past, to the traditional agricultural methods around for centuries.

                <div class="bs-callout bs-callout-primary">
                    <h4>Animals</h4> Animals at Green Acres Farm roam freely within their open and spacious pens. They eat 100% natural feed free of hormones and chemicals. You can taste the difference.
                </div>
                <div class="bs-callout bs-callout-success"> 
                        <h4>Plants</h4> We use absolutely no pesticides on our plants. Doing so reduces our harvest but any other way of farming is not natural. High quality food comes at a cost. We use crop rotation as a natural method of increasing yield.
                </div>
            <div class="row">
                <div class="about-attributes">
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                <p><strong>Our vegetables are:</strong>

                        <br>Non-GMO
                        <br>No herbicides
                        <br>No pesticides
                        <br>Freshly picked
                        <br>Naturally ripened
                        <br>No preservatives
                        </p>
                </div>
                <div class="col-md-4">
                    <strong>Our chickens, ducks and geese are:</strong>

                        <br>Free range with access to green pasture
                        <br>No growth hormones
                        <br>No antibiotics
                        <br>No medications
                        <br>Humanely treated 
                </div>
                <div class="col-md-2">
                </div>
                    </div>
            </div>
            <br>

                <div class="jumbotron">
                    <h1>Interested?</h1>
                    <p>Check out our list of products! </p>
                    <p><a class="btn btn-primary btn-lg" href="{% url 'web:product_list' %}" role="button">Learn more</a></p>
                </div>
            <br><br>

        </div>
        <div class="col-md-3">
            <div class="about-images">
            <a href="#" class="thumbnail">
                <img src="{% static 'web/image/carrots_original_main.jpg' %}" alt="..."></a>
            <a href="#" class="thumbnail">
                <img src="{% static 'web/image/about_field.jpg' %}" alt="..."></a>
            </div>
        </div>
        <!-- /.col-md-3 -->
    </div>
    <!-- /.row -->

<div class="row">
    <div class="col-md-6">
    <div class="page-header">
      <h3>Where are we?</h3>
    </div>

    <p class="lead">Our address is <strong>10590 Cook Brothers Road, Ijamsville, MD 21754.</strong> <br> <br>Located in Frederick County, we are about 10 minutes outside of Clarksburg.
    <br> <br>
    <a href="#" class="thumbnail">
      <img src="{% static 'web/image/maps-greennature.jpg' %}" alt="...">
    </a>

</div>

    <div class="col-md-6">
    <div class="page-header">
      <h3>Farmer Wang</h3>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p class="lead">Victor Wang (Wang Yong Li), an alumnus of Beijing University, quit his IT professional job to start this agricultural venture.
<!--                <h4>Dedicated to Holistic Farming</h4>-->
                <p>A firm believer in the benefits of holistic organic farming, Victor aims to supply his local community with quality, nutritious food at affordable prices. 
                    <p>
        </div>
        <div class="col-md-6">
            <a href="#" class="thumbnail">
      <img src="{% static 'web/image/farmer_wang.jpg' %}" alt="...">
    </a>

        </div><!-- /.col-md-3 -->
  </div><!-- /.row -->
    </div>
</div>
    



{% endblock %}

