<!DOCTYPE html>
<html lang="en">
{% load bootstrap3 %} {% bootstrap_css %} {% bootstrap_javascript %} {% load staticfiles %}
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
<link rel="stylesheet" href="{% static 'web/style.css' %}"> {% block bootstrap3_content %}
<div class="container">

<nav>
    <div id="nav">
        <div id="nav_wrapper">
<!--            <nav class="collapse navbar-collapse">-->
            <ul>
                <li><img src="{% static 'web/image/greenacrelogo.png' %}" class="img-responsive img-thumbnail"></li>
                <li><a href="{% url 'web:home' %}">Home</a></li>
                <li><a href="{% url 'web:about_detail' %}">About</a></li>
                <li><a href="{% url 'web:product_list' %}">Product List</a></li>
                <li><a href="{% url 'web:contact_detail' %}">Contact</a></li>

                <li><a href="{% url 'web:faq_detail' %}">FAQ</a>
<!--
                    <ul>
                        <li><a href="#">dropdown #1 item #1</a>
                        </li>
                    </ul>
-->
                </li>
                <li><a href="{% url 'web:why_detail' %}">Safe & Healthy Food</a></li>
                <li><img src="{% static 'web/image/greenacrelogo.png' %}" class="img-responsive img-thumbnail"></li>
            </ul>
<!--            </nav>-->
        </div>
    </div>
</nav>
    
</div>
    

<h1>{% block title %}(no title){% endblock %}</h1> {% bootstrap_messages %} {% block content %}(no content){% endblock %}


{% endblock %}

    <!-- Footer -->
  <footer class="uc-footer" role="contentinfo">
    <div class="container">
      <div class="uc-social">
        <ul class="uc-social-buttons">
          <li><iframe class="github-btn" src="//ghbtns.com/github-btn.html?user=jtang495&repo=green-nature&type=watch&count=true" width="75" height="20" title="Star on Github"></iframe>
          <li><iframe class="github-btn" src="//ghbtns.com/github-btn.html?user=jtang495&repo=green-nature&type=follow&count=true" width="150" height="20" title="Follow on Github"></iframe>
<!--          <li class="follow-btn"><a href="//twitter.com/UCDolphins" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @UCDolphins</a>-->
        </ul><!-- /.uc-social-buttons -->
      </div><!-- /.uc-social -->
      <p>© 2016 Green Nature Farm. 10590 Cook Brothers Road, Ijamsville, MD 21754 - Phone/Text: (240)-432-8787
      <ul class="footer-links">
        <li>Site version 1.0
        <li class="muted">·
        <li><a href="//www.github.com/jtang495/green-nature" target="_blank">Github Project</a>
        <li class="muted">·
        <li>Created by Jason Tang
      </ul>
    </div><!-- /.container -->
  </footer><!-- /.uc-footer -->
    
</html>