{% extends 'web/base.html' %}
{% load static%}
{% block title %}{% endblock %}

{% block content %}

<div class="page-header">
          <h3>Contact</h3>
        </div>
<div class="container-fluid">
<div class="row">
    <div class="contact-attributes">
    <div class="col-md-4">
        <h1>Contact</h1>
        Email: services@greennaturefarm.com

        <br>Facebook: https://www.facebook.com/greennaturefarm
        <br>Web: http://www.greennaturefarm.com
        <br>We-Chat ID: greennaturefarm
        <br>Phone/Text: (240)-432-8787 
    </div>
    <div class="col-md-4">
        <h1>Address</h1>
        <h5>10590 Cook Brothers Road, Ijamsville, MD 21754</h5>
    </div>
    <div class="col-md-4">
        <h1>Hours</h1>
        Our hours vary during the year.  Please contact us first. 
    </div>
    </div>
</div>
{% endblock %}
