
{% extends 'web/base.html' %}

{% load static %}
{% block title %}

{% endblock %}

{% block content %}



<div class="home_container">
    
    <div class="home_banner">
        <div class="home_text">
    <h2><strong>Green Nature Farm</strong></h2>
    <h1>A family-friendly farm based in Frederick County, Maryland</h1>
        </div>
    </div> 
</div>

<div class="page-header">
      <h1> Home</h1>
    </div>

<div class="jumbotron">
  <div class="container">
    <h1>Welcome!</h1>
  <p>Blessed with two growth seasons each year, we grow a variety of spring/summer or fall/winter vegetables year-round.  Find out more about the health benefits of seasonal and locally-grown food. </p>
  <p><a class="btn btn-primary btn-lg" href="http://www.clevelandclinicwellness.com/food/SeasonalEating/Pages/introduction.aspx"target="_blank" role="button">Learn more</a></p>
  </div>
</div>
 
<div class="page-header">
      <h1>Announcements</h1>
    </div>



<div class="container-fluid">

{% if announcement_list %}
    {% for announcement in announcement_list %}
    <div class="row">
        <div class="bs-callout bs-callout-blog">
            <h2>{{ announcement.title }}</h2>
            <p>{{ announcement.content|safe }}</p>
            <h5>{{ announcement.pub_date }}</h5>
        </div>
    </div>
    <div class="row">
        <!-- Very cumbersome manual implementation of files. For future implement new image model -->
        {% if announcement.image1 %}
            <div class="col-md-3">
        <a href="#" class="thumbnail">
        <img src='{{ announcement.image1.url }}' class='img-responsive' /></a>
            </div>
        {% endif %}
        {% if announcement.image2 %}
            <div class="col-md-3">
        <a href="#" class="thumbnail">
        <img src='{{ announcement.image2.url }}' class='img-responsive' /></a>
            </div>
        {% endif %}
        {% if announcement.image3 %}
            <div class="col-md-3">
        <a href="#" class="thumbnail">
        <img src='{{ announcement.image3.url }}' class='img-responsive' /></a>
            </div>
        {% endif %}
        {% if announcement.image4 %}
            <div class="col-md-3">
        <a href="#" class="thumbnail">
        <img src='{{ announcement.image4.url }}' class='img-responsive' /></a>
            </div>
        {% endif %}
    </div>
    <hr>
    {% endfor %}
{% endif %}

</div>


{% endblock %}


