
{% extends 'web/base.html' %}
{% load staticfiles %}

{% block title %}
<!--<h2>Why Organic??</h2>-->
{% endblock %}

{% block content %}
<body>
    <div class="page-header">

        <h3>Safe & Healthy Food</h3>

    </div>

    <div class="post">

        <div class="row">
            <div class="col-md-4">
                <blockquote class="blockquote">
                    <p class="m-b-0">"We make our decisions, and then our decisions turn around and make us."</p>
                    <footer class="blockquote-footer">F.W. Boreham <cite title="Source Title"></cite></footer>
                </blockquote>
            </div>
            <div class="col-md-4">
                <blockquote class="blockquote">
                    <p class="m-b-0">"Every time you buy local you're persuading more farmers to grow locally."</p>
                    <footer class="blockquote-footer">Mother Earth News</footer>
                </blockquote>
            </div>
            <div class="col-md-4">
                <blockquote class="blockquote">
                    <p class="m-b-0">"Take care of your body. It's the only place you have to live in."</p>
                    <footer class="blockquote-footer">humanresourcesblog</footer>
                </blockquote>
            </div>
        </div>
        <div class="row">
            <h1>You are what you eat. Healthy food choices will be made only after you learn the truth.</h1>
            <br>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="video-attributes">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/5444xRrdITw" frameborder="0" allowfullscreen></iframe>
                    <h3>Video 1: Chronic Dietary Exposure to Pesticide Residules in the United States</h3> Dr. Carl Winter, Department of Food Science and Technology International Journal of Food Consumption
                </div>
            </div>
            <div class="col-md-6">
                <div class="video-attributes">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/2Oq24hITFTY" frameborder="0" allowfullscreen></iframe>s

                    <h3>Video 2: TheTruth About Your Food with FOOD, INC. </h3> Made by Filmmaker Robert Kenner
                </div>
            </div>
        </div>
    </div>

    <div class="post">



        <h2>Checkout:</h2>

        <h4><a href="http://www.helpguide.org/articles/healthy-eating/organic-foods.htm" target="_blank">An Overview of Organic Foods from Helpguide.org</a></h4>
        <h4><a href="http://www.nytimes.com/topic/subject/organic-foods-and-products" target="_blank">The New York Times's Articles on Organic Products</a></h4>
        <h4><a href="http://www.naturalnews.com/organic_food.html" target="_blank">Latest News on Organic Farming</a></h4>
        <h4><a href="http://www.webmd.com/diet/features/safer-food-healthier-you#1" target="_blank">Safer Food for a Healthier You</a></h4>


    </div>
    <div class="plantbg">

        <h1>Love the stuff that you eat!</h1>

    </div>

</body>
{% endblock %}



